:root{
    --primary-color: #2B9F3F;
    --secondary-color: #91C945;

    --black: #0E1111;
    --white: #FFF;

    --lapiz-lazuli: #22577A;
    --Verdigris: #38A3A5;
    --emerald: #57CC99;
    --ligth-green: #80ED99;
    --tea-green: #C7F9CC;

    --primary-font: 'Nunito Sans';
    --logo-font: 'Baloo Thambi';
}