:host{

    .singin-bt{
        background: var(--lapiz-lazuli);
        color:var(--tea-green);
    }
    .singin-bt:hover{
        background: var(--tea-green);
        color:var(--lapiz-lazuli);
        transition: 400ms;
    }

}