<div class="input-card">
    <h2>Criar conta</h2>
    <form action="" class="pure-form">
        <input type="text" placeholder="Nome" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Senha" />
        <input type="password" placeholder="Repetir Senha" />
        
        <button class="pure-button singin-bt">Criar conta</button>
        <p>Já tem uma conta? clique 
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
                aqui
            </a>
        </p>
    </form>
</div>