<div class="input-card">
    <h2>Login</h2>
    <form action="" class="pure-form">
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a>esqueceu?</a>
        <button class="pure-button login-bt">Entrar</button>
        <P>Ou</P>
        <button type="submit" class="pure-button">Entre com o google</button>
        <p>Não tem uma conta? clique 
            <a routerLink="/singin" routerLinkActive="active" ariaCurrentWhenActive="page">
                aqui
            </a>
        </p>
    </form>
</div>